<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5">
  <listeners>
    <listener class-name="org.yota.automation.listeners.TestListener" />
    <listener class-name="org.yota.automation.listeners.ReportListener" />
  </listeners>
  <test name="Smoke">
    <classes>
      <class name="org.yota.automation.testPlans.AutoSmokeTests"/>
    </classes>
  </test>
</suite>